#textdomain wesnoth-Extended_Era

[unit_type]
    [base_unit]
        id=EE Aragwaith Ancient Banner
    [/base_unit]
    id=XRPG Aragwaith Ancient Banner
    [abilities]
        {ABILITY_ALLIED_PROTECTION_LEVEL_4}
        {ABILITY_STEADFAST}
    [/abilities]
[/unit_type]
