#textdomain wesnoth-Extended_Era

#define EOM_SIDE ERA FACTION
    {~add-ons/Era_of_Myths/factions/{FACTION}-{ERA}.cfg}
#enddef

#ifndef ERA_OF_MYTHS_INSTALLED
{~add-ons/Era_of_Myths/detect.cfg}
#endif

#ifdef ERA_OF_MYTHS_INSTALLED

[era]
    id=era_extended_eom_{EXTENDED_ERA_VERSION}
    name= _ "Extended Era + Era of Myths + Default"
    require_era=yes

    {RANDOM_SIDE}
    {MP_SIDE extended loyalists}
    {MP_SIDE extended sylvans}
    {MP_SIDE extended dwarves}
    {MP_SIDE extended outlaws}
    {MP_SIDE extended northerners}
    {MP_SIDE extended chaos}
    {MP_SIDE extended undead}
    {MP_SIDE extended drakes}
    {MP_SIDE extended sidhe}
    {MP_SIDE extended aragwaithi}
    {MP_SIDE extended kalifa}
    {MP_SIDE extended dark_elves}
    {MP_SIDE extended steppe_orcs}

    # EoM
    {EOM_SIDE EOM aberrations}
    {EOM_SIDE EOM celestials}
    {EOM_SIDE EOM devlings}
    {EOM_SIDE EOM elementals}
    {EOM_SIDE EOM therians}
    {EOM_SIDE EOM vampires}
    {EOM_SIDE EOM wargs}
    {EOM_SIDE EOM windsong}

    # Default factions that have a different set of unit or units with alternate stats
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
[/era]

#endif

#undef EOM_SIDE
